@charset "utf-8";
*{padding:0;margin: 0;}
body{font: 12px/1.5 Helvetica,Arial,"微软雅黑",sans-serif;background: #fff;width:100%;height: 100%;color:#323232;text-align: left;}
ul,ol{list-style:none;}
a{text-decoration: none;}
input,img,select,textarea,button{outline: none;resize:none;vertical-align: middle;}
